@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}


/* Custom component classes */
@layer components {
  .btn-primary {
    @apply bg-stone-400 hover:bg-stone-500 text-white font-semibold py-2 px-8 rounded transition duration-200;
  }
  
  .btn-secondary {
    @apply bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded transition duration-200;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-200;
  }
  /* Popup Animations */
@keyframes slide-in {
  from {
    transform: translateX(100%) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}
}